<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineVisitingCard</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.onlinevisitingcard.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/loginpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.onlinevisitingcard.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/adminpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetailsController</display-name>
    <servlet-name>CustomerDetailsController</servlet-name>
    <servlet-class>com.onlinevisitingcard.controller.CustomerDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailsController</servlet-name>
    <url-pattern>/CustomerDetailsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.onlinevisitingcard.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/registerpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnterCustomerDetailsController</display-name>
    <servlet-name>EnterCustomerDetailsController</servlet-name>
    <servlet-class>com.onlinevisitingcard.controller.EnterCustomerDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnterCustomerDetailsController</servlet-name>
    <url-pattern>/cusdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCardController</display-name>
    <servlet-name>DisplayCardController</servlet-name>
    <servlet-class>com.onlinevisitingcard.controller.DisplayCardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCardController</servlet-name>
    <url-pattern>/enterprocess</url-pattern>
  </servlet-mapping>
</web-app>